:root{
    text-align: center;
    --background-color: #22211f;
    --grid-color: #2d2c29;
    --control-color: #43423d;
    --text-color: #c1902f;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* GRID FORMAT */
#grid_left{
    grid-area: left-grid;
    background-color: var(--grid-color);
}
#grid_right{
    grid-area: right-grid;
    background-color: var(--grid-color);
}
#grid_main{
    display: grid;
    grid-template-areas: 'left-grid right-grid right-grid';
    grid-gap: 10px;
    height: 90vh;
}

/* DROP DOWN LISTS */
select{
    background-color: var(--control-color);
    border: 1px solid var(--text-color);
    border-radius: 4px;
    margin-top: 50px;
    padding: 10px;
    min-width: 250px;
    color: var(--text-color);
}